/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2016, 2:46:47 PM
    Author     : Mourique
*/
//baseline CSS for views of the whole project
//body {
 //   background-color: #18CAE6;
//}
body{
    
    background-color: lightblue;
 

}
h1 {
    color: black;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
}



/*table{
    color: #44ffa1;
}*/